@import "functions";
@import "mixins";

.paginator{
  margin-top: 1em;
  margin-bottom: 1em;
  .paginator-container{
    display: table;
    width: 100%;
    @include desktop{
      display: inline-block;
      width: auto;
    }
    a{
      border: solid get-color($base: 'divider') 0.05em;
      display: table-cell;
      padding: 0.5em 0;
      min-width: 1em;
      color: get-color($type: 'dark');

      @include desktop{
        padding: 0.5em;
        min-width: 2em;
      }

      &.disabled{
        background-color: rgba(0,0,0,0.07);
        pointer-events: none;
        cursor: not-allowed;
      }
    }
  }

}